<template>
  <div class="columns" style="margin-top:10px">
    <div class="column is-8 is-offset-2 box">
      <div class="column is-offset-3 is-6 box">
        <div class="columns">
          <div class="column is-12">
            <div class="field">
              <label class="label">Blacklist</label>
              <div class="control">
                <input
                  class="input"
                  type="text"
                  placeholder="CPF"
                  v-model="model.cpf"
                  v-mask="'###.###.###.##'"
                >
              </div>
              <p class="help is-danger" v-if="model.validation.isCpfInvalid">Insira um CPF válido</p>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column is-12 center" v-if="model.showStatusCpf">
            <span>
              O status do CPF é:
              <strong
                v-bind:class="{'is-free': model.isStatusFree,'is-blocked': !model.isStatusFree}"
              >{{model.statusCpf}}</strong>
            </span>
          </div>
        </div>
        <div class="columns">
          <div class="column is-4 center">
            <button class="button is-danger" v-on:click="incluir">Incluir</button>
          </div>
          <div class="column is-4 center">
            <button class="button is-success" v-on:click="retirar">Retirar</button>
          </div>
          <div class="column is-4 center">
            <button class="button is-primary" v-on:click="consultar">Consultar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Toastr from "toastr";
import { mask } from "vue-the-mask";

let cpf = require("@fnando/cpf/dist/node");

let baseUrl = process.env.VUE_APP_APIURL || "http://localhost:3000";

let model = {
  cpf: "",
  statusCpf: "",
  showStatusCpf: false,
  isStatusFree: false,
  validation: {
    isCpfInvalid: false
  }
};

let controller = {
  validarCampos: function() {
    model.validation.isCpfInvalid = !cpf.isValid(model.cpf);

    return !model.validation.isCpfInvalid;
  },
  limparCampos: function() {
    model.cpf = "";
  },
  exibirStatusCpf: function() {
    model.showStatusCpf = true;
  },
  ocultarStatusCpf: function() {
    model.showStatusCpf = false;
  },
  incluir: function() {
    controller.ocultarStatusCpf();
    if (!controller.validarCampos()) return;

    axios
      .post(`${baseUrl}/blacklist`, {
        cpf: model.cpf.replace(".", "").replace("-", "")
      })
      .then(controller.callbacks.handleSuccess)
      .catch(controller.callbacks.handleError);
  },
  retirar: function() {
    controller.ocultarStatusCpf();
    if (!controller.validarCampos()) return;

    axios
      .delete(`${baseUrl}/blacklist/${model.cpf}`)
      .then(controller.callbacks.handleSuccess)
      .catch(controller.callbacks.handleError);
  },
  consultar: function() {
    controller.ocultarStatusCpf();
    if (!controller.validarCampos()) return;
    axios
      .get(`${baseUrl}/blacklist/cpf/${model.cpf}`)
      .then(controller.callbacks.handleSuccessConsulta)
      .catch(controller.callbacks.handleError);
  },
  callbacks: {
    handleError: function(error) {
      Toastr.error(`"Ocorreu um erro ao realizar sua solicitação. ${error}"`);
      controller.limparCampos();
    },
    handleSuccess: function() {
      Toastr.success("Solicitação realizada com sucesso!");
      controller.limparCampos();
    },
    handleSuccessConsulta: function(ret) {
      model.statusCpf = ret.data.status;
      controller.exibirStatusCpf();
      model.isStatusFree = model.statusCpf == "FREE";
    }
  }
};

export default {
  name: "home",
  components: {},
  data: function() {
    return {
      model: model
    };
  },
  methods: {
    incluir: controller.incluir,
    retirar: controller.retirar,
    consultar: controller.consultar
  },
  directives: {
    mask
  }
};
</script>
<style >
html,
body {
  background-color: #edf3f8;
  height: 100%;
}

.center {
  text-align: center;
}

.is-free {
  color: #23d160;
}

.is-blocked {
  color: #ff3860;
  text-decoration: line-through;
}
</style>
