<template>
  <div id="app" class="container is-fluid">
    <div class="columns">
      <div class="column is-12">
        <router-view/>
      </div>
    </div>
    
  </div>
</template>

<script>

require('bulma')
require("toastr/build/toastr.min.css");

export default {
  name: 'app',
  components: {
    
  }  
}

</script>

<style>

</style>
